<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Document</title>
</head>
<body>
    <header class="header-hunger">
        <nav class="navigation">
            <ul class="left-nav">
                <li><a href="/">HOME</a></li>
                <li><a href="/">ABOUT</a></li>
                <li><a href="/team">TEAM</a></li>
                <li><a href="/booking">BOOKING</a></li>
            </ul>
            <img src="assets/img/Vector.png" alt="">
            <ul class="right-nav">
                <li><a href="/menu">MENU</a></li>
                <li><a href="/galerie">GALERIE</a></li>
                <li><a href="/events">EVENTS</a></li>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
        </nav>
        <section class="text-header">
            <div class="work-time">
                Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM
            </div>
        </section>

    </header>
    
